@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-weight: 400;
   font-style: normal;
   background: #eef1f5;
   color: #2a344a;

   display: flex;
   flex-direction: column;
   min-height: 100%;
}
h3 {
   span {
      color: var(--Text-Grey, #7786a5);
      display: inline-block;
      margin: 0px 0px 0px 8px;
   }
   color: var(--Text-Black, #2a344a);

   /* Platform/Desktop/H-3 M */
   font-size: 32px;
   font-style: normal;
   font-weight: 500;
   line-height: 67%; /* 38.4px */
}
h4 {
   span {
      color: var(--Text-Grey, #7786a5);
      display: inline-block;
      margin: 0px 0px 0px 5px;
   }
   color: var(--Text-Black, #2a344a);

   /* Platform/Desktop/H-4 M */
   font-size: 24px;
   font-style: normal;
   font-weight: 500;
   line-height: 120%; /* 28.8px */
}
main {
   flex-grow: 1;
   .wrapper {
      padding: 30px;
      border-radius: var(--Corner_radius_m, 10px);
      background: var(--BG-White, #fff);
   }
}
section {
   margin: 0px 0px 20px 0px;
}
.container {
   max-width: 940px;
   margin: 0px auto;
}
.header {
   .submenu {
      .create-button {
         border-radius: 10px;
         background: var(--Button-Primary-BG-Default, #4e6af3);
         padding: 12px 20px;
         color: var(--Button-Primary-Text-Default, #fff);

         /* Platform/Button Link/Small */
         font-family: Roboto;
         font-size: 14px;
         font-style: normal;
         font-weight: 400;
         line-height: 16px; /* 114.286% */
         text-transform: none;

         justify-content: center;

         margin: 10px 10px 0px 10px;
      }
      li {
         a {
            &:hover,
            &.active {
               border-radius: var(--Corner_radius_m, 10px);
               background: var(--Header-BG-Click, #343f56);
            }
            .item {
               display: flex;
               flex-direction: column;
               gap: 4px;
            }
            .title {
               color: var(--Header-Text-Hover, #fff);
            }
            .descr {
               color: var(--Text-Disabled, #b8c6e3);

               /* Platform/Fields/Title (caption) */
               font-family: Roboto;
               font-size: 12px;
               font-style: normal;
               font-weight: 400;
               line-height: 16px; /* 133.333% */
               text-transform: none;
            }
            .butt {
               svg {
                  min-width: 18px;
                  min-height: 18px;
               }
               display: flex;
               gap: 10px;
               align-items: flex-start;

               color: var(--Text-White, #fff);
               font-family: Roboto;
               font-size: 14px;
               font-style: normal;
               font-weight: 500;
               line-height: 140%; /* 19.6px */
               text-transform: none;
               min-width: 250px;
            }
            display: flex;
            flex-direction: column;
            gap: 4px;
            align-items: flex-start;
            padding: 10px 20px;
         }
         padding: 0px 0px 0px 0px !important;
      }
      border-radius: 0px 0px 15px 15px;
      padding: 7px 10px 20px 10px;
      background: var(--BG-Black, #2a344a);
      position: absolute;
      top: 100%;
      left: 0;

      flex-direction: column;
      gap: 2px;

      display: none;
   }
   .main-menu {
      .icon {
         display: flex;
         align-items: center;
      }
      li {
         &:hover {
            .submenu {
               display: flex;
            }
         }
         padding: 11px 20px;
         position: relative;
         color: var(--Header-Text_Default, #d5daf1);

         /* Platform/Accent_12_CAPS (S) */
         font-family: Roboto;
         font-size: 12px;
         font-style: normal;
         font-weight: 600;
         line-height: 16px; /* 133.333% */
         letter-spacing: 0.84px;
         text-transform: uppercase;
      }
      a {
         display: flex;
         align-items: center;
         gap: 10px;
         text-transform: uppercase;
      }
      display: flex;
      align-items: center;
      gap: 10px;
   }

   .site-logo-mob {
      display: none;
   }
   .right {
      .avatar {
         cursor: pointer;
         img {
            width: 40px;
            height: 40px;
            border-radius: 10px;
            overflow: hidden;
            object-fit: cover;
         }
      }
      .create {
         margin: 0px 10px 0px 0px;
         cursor: pointer;
         display: flex;
         align-items: center;
         gap: 10px;
         padding: 11px 20px;
         border-radius: 10px;
         background: var(--Button-Primary-BG-Default, #4e6af3);

         color: var(--Button-Primary-Text-Default, #fff);
         text-align: center;

         /* Platform/Accent_12_CAPS (S) */
         font-family: Roboto;
         font-size: 12px;
         font-style: normal;
         font-weight: 600;
         line-height: 16px; /* 133.333% */
         letter-spacing: 0.84px;
         text-transform: uppercase;
      }
      .buttons {
         .button {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 11px;
            cursor: pointer;
         }
         display: flex;
         align-items: center;
         gap: 8px;
      }
      display: flex;
      align-items: center;
      gap: 10px;
   }

   .left {
      display: flex;
      align-items: center;
      gap: 30px;
   }
   div,
   span,
   a {
      color: var(--Header-Text_Default, #d5daf1);
   }
   border-radius: 10px;
   background: var(--BG-Black, #2a344a);
   padding: 8px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 10px 10px 21px 10px;
   position: relative;
   z-index: 999;
}
.footer {
   .wrapp.mob {
      .butt {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 2px;
      }
      .left,
      .right {
         width: 50%;
         display: flex;
         justify-content: center;
         gap: 64px;
      }
      .navigations {
         margin: 0px 0px 0px 0px;
         display: flex;
         justify-content: space-between;
      }
      background: url("../img/tab_bar.svg") top no-repeat;
      padding: 20px 0px 20px 0px;
      background-position-y: -19px;
   }
   .butt-add {
      z-index: 99;
      position: absolute;
      top: -22px;
      left: 50%;
      margin-left: -24px;
   }
   .wrapper.dtop {
      display: block;
   }
   .wrapp.mob {
      display: none;
   }
   .politic-mob {
      display: none;
   }
   a {
      color: var(--Text-Grey, #7786a5);
   }
   .copy {
      min-width: 200px;
   }
   .geo {
      display: flex;
      align-items: center;
      gap: 5px;
   }
   color: var(--Text-Grey, #7786a5);

   /* Landing/Caption_2 */
   font-family: Roboto;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 140%; /* 19.6px */

   padding: 0px 0px 10px 0px;
   .wrapper {
      border-radius: var(--Corner_radius_m, 10px);
      background: var(--BG-White, #fff);
      margin: 21px 10px 0px 10px;
      padding: 20px;
   }

   .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
   }
}
.head-profile {
   .wrapper {
      padding: 30px 30px 21px 30px;
   }
   h3 {
      margin: 0px 0px 30px 0px;
   }
   .line {
      border-radius: var(--Corner_radius_m, 10px);
      background: var(--Stroke-Divider, #e1edfd);
      height: 4px;
      margin-bottom: -20px;
   }
   ul {
      li {
         position: relative;
         cursor: pointer;
         &.active {
            color: #4e6af3;
            &::after {
               content: "";
               position: absolute;
               width: 100%;
               height: 4px;
               border-radius: var(--Corner_radius_m, 10px);
               background: #4e6af3;
               bottom: -10px;
               left: 0;
               z-index: 1;
            }
         }
         line-height: 32px; /* 125% */
      }
      &::after {
         content: "";
         position: absolute;
         width: 100%;
         height: 4px;
         border-radius: var(--Corner_radius_m, 10px);
         background: var(--Stroke-Divider, #e1edfd);
         bottom: -10px;
         left: 0;
      }
      width: 100%;
      display: flex;
      gap: 30px;
      position: relative;
   }
}
.info-profile {
   .buttons {
      .zoom {
         &:hover {
            background: #337dff;
         }

         background: #4a8cff;
      }
      .viber {
         &:hover {
            background: #5a46ea;
         }

         background: #7161e6;
      }
      .whatsapp {
         &:hover {
            background: #139573;
         }
         background: #26a685;
      }
      .telegram {
         &:hover {
            background: #1299de;
         }
         background: #31a7e3;
      }
      .phone {
         width: 190px;
         background: #4e6af3;
      }
      a {
         transition: 0.3s;
         width: 140px;
         border-radius: 10px;
         padding: 10px;
         display: flex;
         gap: 10px;
         justify-content: center;
         align-items: center;

         border-radius: 10px;

         color: var(--Button-Primary-Text-Default, #fff);
         text-align: center;

         /* Platform/Button Link/Medium */

         font-size: 16px;
         font-style: normal;
         font-weight: 400;
         line-height: 20px; /* 125% */
      }
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin: 20px 0px 0px 0px;
   }
   .id-info {
      span {
         color: var(--Text-Black, #2a344a);

         /* Platform/Desktop/Body-2 R */

         font-size: 14px;
         font-style: normal;
         font-weight: 400;
         line-height: 140%; /* 19.6px */
      }
      color: var(--Text-Grey, #7786a5);

      /* Platform/Desktop/Body-2 R */

      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 19.6px */

      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 8px;
   }
   .reviews {
      color: var(--Text-Grey, #7786a5);

      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 28.8px */
   }
   .line {
      width: 2px;
      height: 20px;
      border-radius: 2px;
      background: #c7d2e9;
   }
   .stars {
      display: flex;
      gap: 5px;
      align-items: center;

      color: var(--Text-Black, #2a344a);

      /* Platform/Desktop/H-4 M */
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 28.8px */
   }
   .time-prf,
   .id-prf {
      display: flex;
      gap: 7px;
   }
   .raiting {
      margin: 7px 0px 0px 0px;
      display: flex;
      gap: 14px;
      align-items: center;
   }
   .icon {
      display: flex;
      align-items: center;
   }
   .passport {
      display: flex;
      gap: 5px;
      align-items: center;
   }
   .info-prf {
      display: flex;
      flex-direction: column;
      gap: 15px;
   }
   .cart {
      .avatar {
         width: 190px;
         height: 190px;
         border-radius: 10px;
         overflow: hidden;
         img {
            object-fit: cover;
            max-width: 100%;
         }
      }
      .id-info {
         position: absolute;
         right: 0;
         top: 0;
      }
      position: relative;
      display: flex;
      gap: 20px;
   }
}
.data-profile {
   .wrapper {
      padding: 21px 30px;
   }
   ul {
      li {
         display: flex;
         flex-direction: column;
         gap: 5px;
         width: 125px;

         color: var(--Text-Grey, #7786a5);

         font-size: 14px;
         font-style: normal;
         font-weight: 400;
         line-height: 140%; /* 19.6px */

         span {
            color: var(--Text-Black, #2a344a);

            /* Platform/Desktop/H-4 M */

            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 28.8px */
         }
      }
      display: flex;
      gap: 25px;
   }
}
.param-profile {
   h3 {
      line-height: 116%;
   }
   ul {
      li {
         line-height: 0;
         cursor: pointer;
         padding: 15px 10px;
         border-radius: 5px;
         border: 1px solid var(--Stroke-Divider, #e1edfd);
         background: var(--BG-White, #fff);
      }
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
   }
   .item {
      &.noborder {
         border-bottom: none;
      }
      .title {
         min-width: 200px;
         color: var(--Text-Grey, #7786a5);

         /* Platform/Desktop/Body-1 R */

         font-size: 16px;
         font-style: normal;
         font-weight: 400;
         line-height: 150%; /* 24px */
      }
      padding: 28px 0px 14px 0px;
      border-bottom: 1px solid var(--Stroke-Divider, #e1edfd);
      display: flex;
      gap: 10px;
   }
   .subtitle {
      font-size: 14px;
      position: absolute;
      top: 88px;
      left: 0;
      width: 100%;
      padding: 7px 30px;
      background: var(--Stroke-Divider_form, #f1f7ff);
   }
   .wrapper {
      position: relative;
   }
   h3 {
      margin: 0px 0px 54px 0px;
   }
}
.about-profile {
   .play {
      &:hover {
         svg {
            circle {
               fill: #4e6af3;
            }
         }
      }
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -20px 0px 0px -20px;
   }
   .item {
      img {
         object-fit: cover;
         max-width: 100%;
         opacity: 0.5;
      }
      display: flex;
      align-items: center;
      width: 190px;
      height: 150px;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
   }
   .videos {
      margin: 20px 0px 0px 0px;
   }
   h4 {
      margin: 30px 0px 0px 0px;
   }
   .butt-more {
      &.hide {
         display: none;
      }
      max-width: fit-content;
      cursor: pointer;
      //margin: 15px 0px 30px 0px;
      color: var(--Main-Blue, #4e6af3);

      /* Fields/Placeholder */
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
      display: flex;
      align-items: center;
      gap: 5px;
   }
   .text {
      margin: 0px 0px 15px 0px;
      &.open {
         display: block;
         -webkit-line-clamp: initial;
         overflow: visible;
         text-overflow: clip;
      }
      max-width: 750px;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      color: var(--Text-Black, #2a344a);

      /* Platform/Desktop/Body-1 R */
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
   }
   .wrapper {
      position: relative;
   }
   .line {
      position: absolute;
      left: 0;
      top: 85px;
      width: 100%;
      height: 2px;
      background: #f1f7ff;
   }
   h3 {
      margin: 8px 0px 56px 0px;
   }
}
.sertificats-profile {
   .wrapper {
      position: relative;
   }
   .line {
      position: absolute;
      left: 0;
      top: 75px;
      width: 100%;
      height: 2px;
      background: #f1f7ff;
   }
   .item {
      cursor: pointer;
      img {
         object-fit: cover;
         max-height: 100%;
      }
      width: 190px;
      height: 285px;
      overflow: hidden;
      border-radius: 10px;
      display: flex;
      justify-content: center;
   }
   .items {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      margin: 55px 0px 0px 0px;
   }
}
.edit-profile {
   .edit-butt {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      max-width: fit-content;
   }
   .wrapper {
      display: flex;
      justify-content: center;
      padding: 15px 30px;
   }
}
.notifications,
.safety,
.personal-data {
   display: none;
   &.active {
      display: block;
   }
}
.notifications {
   .right {
      .edit {
         cursor: pointer;
      }
      display: flex;
      align-items: center;
      gap: 30px;
      color: #4e6af3;
   }
   li {
      &:last-child {
         border-bottom: none;
         margin-bottom: -20px;
      }
      border-bottom: 1px solid var(--Stroke-Divider, #e1edfd);
      padding: 20px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   ul {
      display: flex;
      flex-direction: column;
   }
   h4 {
      margin: 0px 0px 20px 0px;
   }
   .wrapper {
      position: relative;
   }
   .line {
      position: absolute;
      left: 0;
      top: 80px;
      width: 100%;
      height: 2px;
      background: #f1f7ff;
   }
}
.toggle {
   cursor: pointer;
   .circle {
      width: 16px;
      height: 16px;
      border-radius: 16px;
      background: #fff;
   }
   width: 40px;
   border-radius: 20px;
   background: var(--Stroke-Grey, #c7d2e9);
   padding: 2px;
   display: flex;
   justify-content: flex-start;
   &.active {
      justify-content: flex-end;
      background: var(--Main-Blue, #4e6af3);
   }
   transition: 0.1s;
}
