@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  background: #eef1f5;
  color: #2a344a;
}

h3 {
  color: var(--Text-Black, #2a344a);
  /* Platform/Desktop/H-3 M */
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 67%; /* 38.4px */
}
h3 span {
  color: var(--Text-Grey, #7786a5);
  display: inline-block;
  margin: 0px 0px 0px 8px;
}

h4 {
  color: var(--Text-Black, #2a344a);
  /* Platform/Desktop/H-4 M */
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
}
h4 span {
  color: var(--Text-Grey, #7786a5);
  display: inline-block;
  margin: 0px 0px 0px 5px;
}

main .wrapper {
  padding: 30px;
  border-radius: var(--Corner_radius_m, 10px);
  background: var(--BG-White, #fff);
}

section {
  margin: 0px 0px 20px 0px;
}

.container {
  max-width: 940px;
  margin: 0px auto;
}

.header {
  border-radius: 10px;
  background: var(--BG-Black, #2a344a);
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 21px 10px;
}
.header .site-logo-mob {
  display: none;
}
.header .right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .right .avatar {
  cursor: pointer;
}
.header .right .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .right .create {
  margin: 0px 10px 0px 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 11px 20px;
  border-radius: 10px;
  background: var(--Button-Primary-BG-Default, #4e6af3);
  color: var(--Button-Primary-Text-Default, #fff);
  text-align: center;
  /* Platform/Accent_12_CAPS (S) */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.84px;
  text-transform: uppercase;
}
.header .right .buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header .right .buttons .button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 11px;
  cursor: pointer;
}
.header .left {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .left ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .left ul li {
  padding: 11px 20px;
  color: var(--Header-Text_Default, #d5daf1);
  /* Platform/Accent_12_CAPS (S) */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.84px;
  text-transform: uppercase;
}
.header .left ul a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
}
.header div,
.header span,
.header a {
  color: var(--Header-Text_Default, #d5daf1);
}

.footer {
  color: var(--Text-Grey, #7786a5);
  /* Landing/Caption_2 */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  padding: 0px 0px 10px 0px;
}
.footer .wrapp.mob {
  background: url("../img/tab_bar.svg") top no-repeat;
  padding: 20px 0px 20px 0px;
  background-position-y: -19px;
}
.footer .wrapp.mob .butt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}
.footer .wrapp.mob .left,
.footer .wrapp.mob .right {
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 64px;
}
.footer .wrapp.mob .navigations {
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}
.footer .butt-add {
  z-index: 99;
  position: absolute;
  top: -22px;
  left: 50%;
  margin-left: -24px;
}
.footer .wrapper.dtop {
  display: block;
}
.footer .wrapp.mob {
  display: none;
}
.footer .politic-mob {
  display: none;
}
.footer a {
  color: var(--Text-Grey, #7786a5);
}
.footer .copy {
  min-width: 200px;
}
.footer .geo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer .wrapper {
  border-radius: var(--Corner_radius_m, 10px);
  background: var(--BG-White, #fff);
  margin: 21px 10px 0px 10px;
  padding: 20px;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.head-profile .wrapper {
  padding: 30px 30px 21px 30px;
}
.head-profile h3 {
  margin: 0px 0px 30px 0px;
}
.head-profile .line {
  border-radius: var(--Corner_radius_m, 10px);
  background: var(--Stroke-Divider, #e1edfd);
  height: 4px;
  margin-bottom: -20px;
}
.head-profile ul {
  width: 100%;
  display: flex;
  gap: 30px;
  position: relative;
}
.head-profile ul li {
  position: relative;
  cursor: pointer;
  line-height: 32px; /* 125% */
}
.head-profile ul li.active {
  color: #4e6af3;
}
.head-profile ul li.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: var(--Corner_radius_m, 10px);
  background: #4e6af3;
  bottom: -10px;
  left: 0;
  z-index: 999;
}
.head-profile ul::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: var(--Corner_radius_m, 10px);
  background: var(--Stroke-Divider, #e1edfd);
  bottom: -10px;
  left: 0;
}

.info-profile .buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0px 0px 0px;
}
.info-profile .buttons .zoom {
  background: #4a8cff;
}
.info-profile .buttons .zoom:hover {
  background: #337dff;
}
.info-profile .buttons .viber {
  background: #7161e6;
}
.info-profile .buttons .viber:hover {
  background: #5a46ea;
}
.info-profile .buttons .whatsapp {
  background: #26a685;
}
.info-profile .buttons .whatsapp:hover {
  background: #139573;
}
.info-profile .buttons .telegram {
  background: #31a7e3;
}
.info-profile .buttons .telegram:hover {
  background: #1299de;
}
.info-profile .buttons .phone {
  width: 190px;
  background: #4e6af3;
}
.info-profile .buttons a {
  transition: 0.3s;
  width: 140px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: var(--Button-Primary-Text-Default, #fff);
  text-align: center;
  /* Platform/Button Link/Medium */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
.info-profile .id-info {
  color: var(--Text-Grey, #7786a5);
  /* Platform/Desktop/Body-2 R */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}
.info-profile .id-info span {
  color: var(--Text-Black, #2a344a);
  /* Platform/Desktop/Body-2 R */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.info-profile .reviews {
  color: var(--Text-Grey, #7786a5);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
}
.info-profile .line {
  width: 2px;
  height: 20px;
  border-radius: 2px;
  background: #c7d2e9;
}
.info-profile .stars {
  display: flex;
  gap: 5px;
  align-items: center;
  color: var(--Text-Black, #2a344a);
  /* Platform/Desktop/H-4 M */
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
}
.info-profile .time-prf,
.info-profile .id-prf {
  display: flex;
  gap: 7px;
}
.info-profile .raiting {
  margin: 7px 0px 0px 0px;
  display: flex;
  gap: 14px;
  align-items: center;
}
.info-profile .icon {
  display: flex;
  align-items: center;
}
.info-profile .passport {
  display: flex;
  gap: 5px;
  align-items: center;
}
.info-profile .info-prf {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.info-profile .cart {
  position: relative;
  display: flex;
  gap: 20px;
}
.info-profile .cart .avatar {
  width: 190px;
  height: 190px;
  border-radius: 10px;
  overflow: hidden;
}
.info-profile .cart .avatar img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}
.info-profile .cart .id-info {
  position: absolute;
  right: 0;
  top: 0;
}

.data-profile .wrapper {
  padding: 21px 30px;
}
.data-profile ul {
  display: flex;
  gap: 25px;
}
.data-profile ul li {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 125px;
  color: var(--Text-Grey, #7786a5);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
.data-profile ul li span {
  color: var(--Text-Black, #2a344a);
  /* Platform/Desktop/H-4 M */
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
}

.param-profile h3 {
  line-height: 116%;
}
.param-profile ul {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.param-profile ul li {
  line-height: 0;
  cursor: pointer;
  padding: 15px 10px;
  border-radius: 5px;
  border: 1px solid var(--Stroke-Divider, #e1edfd);
  background: var(--BG-White, #fff);
}
.param-profile .item {
  padding: 28px 0px 14px 0px;
  border-bottom: 1px solid var(--Stroke-Divider, #e1edfd);
  display: flex;
  gap: 10px;
}
.param-profile .item.noborder {
  border-bottom: none;
}
.param-profile .item .title {
  min-width: 200px;
  color: var(--Text-Grey, #7786a5);
  /* Platform/Desktop/Body-1 R */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.param-profile .subtitle {
  font-size: 14px;
  position: absolute;
  top: 88px;
  left: 0;
  width: 100%;
  padding: 7px 30px;
  background: var(--Stroke-Divider_form, #f1f7ff);
}
.param-profile .wrapper {
  position: relative;
}
.param-profile h3 {
  margin: 0px 0px 54px 0px;
}

.about-profile .play {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0px 0px -20px;
}
.about-profile .play:hover svg circle {
  fill: #4e6af3;
}
.about-profile .item {
  display: flex;
  align-items: center;
  width: 190px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.about-profile .item img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  opacity: 0.5;
}
.about-profile .videos {
  margin: 20px 0px 0px 0px;
}
.about-profile h4 {
  margin: 30px 0px 0px 0px;
}
.about-profile .butt-more {
  max-width: -moz-fit-content;
  max-width: fit-content;
  cursor: pointer;
  color: var(--Main-Blue, #4e6af3);
  /* Fields/Placeholder */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  display: flex;
  align-items: center;
  gap: 5px;
}
.about-profile .butt-more.hide {
  display: none;
}
.about-profile .text {
  margin: 0px 0px 15px 0px;
  max-width: 750px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--Text-Black, #2a344a);
  /* Platform/Desktop/Body-1 R */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.about-profile .text.open {
  display: block;
  -webkit-line-clamp: initial;
  overflow: visible;
  text-overflow: clip;
}
.about-profile .wrapper {
  position: relative;
}
.about-profile .line {
  position: absolute;
  left: 0;
  top: 85px;
  width: 100%;
  height: 2px;
  background: #f1f7ff;
}
.about-profile h3 {
  margin: 8px 0px 56px 0px;
}

.sertificats-profile .wrapper {
  position: relative;
}
.sertificats-profile .line {
  position: absolute;
  left: 0;
  top: 75px;
  width: 100%;
  height: 2px;
  background: #f1f7ff;
}
.sertificats-profile .item {
  cursor: pointer;
  width: 190px;
  height: 285px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.sertificats-profile .item img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
}
.sertificats-profile .items {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 55px 0px 0px 0px;
}

.edit-profile .edit-butt {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.edit-profile .wrapper {
  display: flex;
  justify-content: center;
  padding: 15px 30px;
}/*# sourceMappingURL=style.css.map */